#venn {
  width: 700px;
  height: 500px;
  position: relative;
  font-family: Lato;
}
.venn-circle text {
  font-family: Lato;
}

.venntooltip {
  position: absolute;
  visibility: hidden;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  color: black;
  z-index: 1000;
}

.group-info,
.group-info-special {
  margin-top: 20px;
  font-size: 12px;
  color: black;
  z-index: 1000;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Lato;
}

.group-info p,
.group-info-special p {
  margin: 5px 0;
  cursor: pointer;
  color: black;
  z-index: 1000;
  font-family: Lato;
}

.protein-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
  color: black;
  z-index: 1000;
}

.protein-table th,
.protein-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.protein-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
