@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@800&display=swap');

.carousel {
    width: 100%;
    min-height: 280px;
    height:420px;
    background-color: white;
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
}

.carouselInner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carouselInner .left {
    height: 50px;
    background-color: rgb(215, 221, 222, 0.6);
    display: grid;
    place-items: center;
    color: black;
    cursor: pointer;
    margin-top:200px;
}

.carouselInner .center {
    flex: 80%;
    height: 50%;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

h1 {
    color: #FEFFFF;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: 100%; /* 36px */
text-transform: uppercase;
text-align: left;
}


.first_title{
    margin-top: 5%;
}

.first_paragraph{
    margin-top: 65px;
}

.second_title{
    margin-top:5%;
    width:20%;
}

.second_paragraph{
    margin-top: -7%;
    margin-left:55%;
}

.third_title{
    color: #FFF;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: 100%; /* 36px */
text-transform: uppercase;
}

.third_paragraph{
    color: #FFF;
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

p {
    color: #FFF;
font-family: Lato;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
}


h1, p {
    position: relative;
	z-index: 5;
	color: white;
	padding: 0px;
}

.carouselInner .right {
    height: 50px;
    background-color: rgb(215, 221, 222, 0.6);
    display: grid;
    place-items: center;
    color: black;
    cursor: pointer;
    margin-top:200px;
}
